{% extends 'base.html' %}

{% block title %}Summary of Rental Licenses{% endblock title %}

{% block content %}
A sample of license data
<pre>
    {{ licenses }}
</pre>

Find rental property by APN
<form action="./property" method="post">
    <div class="form-group col-4">
        {% csrf_token %}
        <label for="apn">APN</label>
        <input name="apn" />
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

Find rental properties by address
<form action="./search" method="post">
    <div class="form-group col-4">
        {% csrf_token %}
        <label for="address">Address</label>
        <input name="address" value = "{{address}}"/>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>

Find landlords
<form action="./portfolios" method="post">
    <div class="form-group col-4">
        {% csrf_token %}
        <label for="name">Pattern</label>
        <input name="name" value = "{{name}}"/>
        <small id="name" class="form-text text-muted">Enter a regex pattern for owner and applicant name</small>
        <button type="submit" class="btn btn-primary">Search</button>
    </div>
</form>
{% endblock content %}