{% extends 'base.html' %}

{% block title %}Rental Properties{% endblock title %}
{% block content %}
{% if message %}
    <h4>{{message}}</h4>
{% else %}
<table>
    <thead>
        <td>APN</td>
        <td>License</td>
        <td>Address</td>
        <td>Owner</td>
    </thead>
    <tbody>
{% for prop in properties %}
<tr>
    <td><a href="property?apn={{prop.apn}}" >{{prop.apn }}</a></td>
    <td>{{prop.licenseNum }}</td>
    <td>{{prop.address }}</td>
    <td>{{prop.ownerName }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endif %}
Get information for an APN
<form action="./property" method="post">
    {% csrf_token %}
    APN: <input name="apn"/>
    <input type="submit" value="Search">
</form>

Search for a rental property by address
<form action="./search" method="post">
    {% csrf_token %}
    Address: <input name="address" value = "{{address}}"/>
    <input type="submit" value="Search">
</form>

Search for owners
<form action="./portfolios" method="post">
    {% csrf_token %}
    Pattern: <input name="name" value = "{{name}}"/>
    <input type="submit" value="Search">
</form>
{% endblock content %}