
{% extends 'base.html' %}

{% block title %}Portfolio {% endblock title %}

{% block content %}
<H3>Map View for Portfolio {{portfolioId}}</H3>
<div id="featureDetail"></div>
   <div id='map' width="500px" style='height:700px'></div>
   <script>
    mapboxgl.accessToken = '{{ mapbox_access_token }}';
    var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [-93.28416931340604,44.97], // starting position [lng, lat]
        zoom: 11 // starting zoom
    });
    map.on('load', function() {
        map.addSource('portfolio', {
            type: 'geojson',
            data: '/api/portfolio?portfolioId={{portfolioId}}'
            });

        map.addLayer({
            'id': 'portfolio',
            'type': 'circle',
            'source': 'portfolio',
            'paint': {
                'circle-radius': 6,
                'circle-stroke-color': 'black',
                'circle-stroke-width': 1,
                'circle-color': 'darkGreen'
                }
            })
            map.on('mousemove', 'portfolio', function (e) {
                var features = e.features;
                var hover;
                if (features.length == 0) {
                    hover = ""
                } else {
                    var feature = features[0]
                    hover = '<b>' + feature.properties.address + '</b> ' + feature.properties.ownerName 

                }
                document.getElementById('featureDetail').innerHTML = hover
            }
            ) 
            map.on('mouseleave', 'portfolio', function (e) {
                var features = e.features;
                console.log(JSON.stringify(features))
                var hover = ''
                document.getElementById('featureDetail').innerHTML = hover
            }
            ) 
 
    })

</script>

<a href="portfolio?portfolioId={{portfolioId}}">Detail View</a>
{% endblock content %}
