<!-- prettier-ignore-start -->
{% extends 'base.html' %}
{% block title %}
Portfolio 
{% endblock title %}

{% block content %}
<!-- prettier-ignore-end -->


<h3>Portfolio {{portfolioId}}</h3>
<a href="map?portfolioId={{portfolioId}}">Map View</a>
 | <span>Detail View</span> 
<p>
   <a href="portfolio_search?name={{searchTerms}}">Related portfolios</a>
</p>
<table class="table">
    <thead>
        <th>License</th>
        <th>Address</td>
        <th>Owner</th>
        <th>Violations</th>
    </thead>
    <tbody>
{% for prop in sameOwner %}
    <tr>
        <td>{{prop.licenseNum }}</td>
        <td><a href="property?address={{prop.address}}" >{{prop.address }}</a></td>
        <td>{{prop.ownerName }}</td>
        <td>{{prop.violationCount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock content %}
