{% extends 'base.html' %}

{% block title %}Portfolio {% endblock title %}

{% block content %}


<h3>Licenses for Portfolio {{portfolioId}}</h3>
<table class="table">
    <thead>
        <th>APN</th>
        <th>License</th>
        <th>Address</td>
        <th>Owner</th>
        <th>Violations</th>
    </thead>
    <tbody>
{% for prop in sameOwner %}
    <tr>
        <td><a href="property?apn={{prop.apn}}" >{{prop.apn }}</a></td>
        <td>{{prop.licenseNum }}</td>
        <td>{{prop.address }}</td>
        <td>{{prop.ownerName }}</td>
        <td>{{prop.violationCount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="map?portfolioId={{portfolioId}}">Map view</a>

{% endblock content %}
