{% extends 'base.html' %}

{% block title %}Property Details{% endblock title %}

{% block content %}
<p>
    <pre>
{{ license }}
    </pre>
</p>

<h2>Violations</h2>
<table>
    <thead>
        <td>Date</td>
        <td>Case No.</td>
        <td>Grouping</td>
        <td>Description</td>
    </thead>
    <tbody>
{% for violation in violations %}
<tr>
    <td>{{violation.violationDate }}</td>
    <td>{{violation.caseNumber }}</td>
    <td>{{violation.grouping }}</td>
    <td>{{violation.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<p>
<h2>All Licenses for this Landlord</h2>
<table>
    <thead>
        <td>APN</td>
        <td>License</td>
        <td>Address</td>
        <td>Owner</td>
        <td>Violations</td>
    </thead>
    <tbody>
{% for prop in sameOwner %}
<tr>
    <td><a href="property?apn={{prop.apn}}" >{{prop.apn }}</a></td>
    <td>{{prop.licenseNum }}</td>
    <td>{{prop.address }}</td>
    <td>{{prop.ownerName }}</td>
    <td>{{prop.violationCount }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</p>
{% endblock content %}
