{% extends 'base.html' %} 
{% load static %}

{% block title %}
Network of Parcels and Tags
{% endblock title %}
{% block content %}


<style type='text/css'>
  .highlighted {
    background: yellow;
  }
  #graphContainer {
      width: 100%;
      height: 800px;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    #controls {
      position: absolute;
      right: 1em;
      top: 1em;
      text-align: right;
    }
    .input {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
    .input:not(:hover) label {
      display: none;
    }
    .input label {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: black;
      color: white;
      padding: 0.2em;
      border-radius: 2px;
      margin-top: 0.3em;
      font-size: 0.8em;
      white-space: nowrap;
    }
    .input button {
      width: 2.5em;
      height: 2.5em;
      display: inline-block;
      text-align: center;
      background: white;
      outline: none;
      border: 1px solid dimgrey;
      border-radius: 2px;
      cursor: pointer;
    }
        </style>
    <script src="{% static 'js/sigma.js' %}"></script>
  <script src="{% static 'js/graphology.umd.js' %}"></script>
  <script src="{% static 'js/graphology-library.js' %}"></script>
  <script>
  var graph = new graphology.Graph()
  // client state
  let state = {
      draggedNode: undefined,
      isDragging: false,
      hoveredNode: undefined,
      hoveredNeighbors: undefined
    }
  // Load external network file:
  const url = "/api/portfolio_network.json?PORT_ID={{PORT_ID}}"
  let data = {
    tag_values: [],
    parcels: []
  }
  function handleTagSelectorChange(e) {
    const checkbox = e.target
    tag_value = checkbox.value
    if (!checkbox.checked) {
        // We could drop node and all associated edges
        // graph.dropNode(tag_value)
        // Current behavior is to just drop the edges
        data.tags.forEach( (tag) => {
        if (tag_value === tag.tag_value) {
          graph.dropEdge(tag.tag_value, tag.GLOBAL_ID)
        }
      })
    } else {
      // Re-add a node 
      // graph.mergeNode(tag_value, {"node_type": "TAG", "label": tag_value,  size: 4, x:0, y:0}) 
      // Re-add associated edges
      data.tags.forEach( (tag) => {
        if (tag_value === tag.tag_value) {
          graph.mergeEdge(tag.tag_value, tag.GLOBAL_ID, {"label": tag.source_value})
        }
      })
    }
  }

  function buildGraph() {
    data.tag_values.forEach((tag_value) => {
        graph.mergeNode(tag_value, {"node_type": "TAG", "label": tag_value,  size: 4, x:0, x:0})
      })
      data.parcels.forEach((parcel) => {
        graph.mergeNode(parcel.GLOBAL_ID, {"node_type": "PARCEl", "label": parcel.ADDRESS,   "size":8, color: "#0000FF" })
      })
      data.tags.forEach( (tag) => {
          graph.mergeEdge(tag.tag_value, tag.GLOBAL_ID, {"label": tag.source_value})
      }) 
    
    // As an initial location, scatter the nodes in a circle
    graph.nodes().forEach((node, i) => {
      const angle = (i * 2 * Math.PI) / graph.order + 20*Math.random();
      graph.setNodeAttribute(node, "x", 100 * Math.cos(angle));
      graph.setNodeAttribute(node, "y", 100 * Math.sin(angle));
    });
  }

  fetch(url)
    .then((res) => res.json())
    .then((d) => {
      data = d
      const tagSelector = document.getElementById("tagSelector");
      data.tag_values.forEach( (tag_value) => {
        const checkbox = document.createElement('input')
        checkbox.type = 'checkbox';
        checkbox.name = 'tag_value_checkbox';
        checkbox.value = tag_value;
        checkbox.classList.add('mr-2')
        checkbox.checked = true;
        checkbox.onchange = handleTagSelectorChange
        tagSelector.appendChild(checkbox)
        var label = document.createElement('label')
        label.htmlFor = tag_value;
        label.appendChild(document.createTextNode(tag_value));
        tagSelector.appendChild(label)
        tagSelector.appendChild(document.createElement('br'))
      })
      buildGraph()
    // Create the spring layout and start it
    {% if layout == "ForceLayout" %}
      const layout = new graphologyLibrary.ForceLayout(graph, {  isNodeFixed: (_, attr) => attr.highlighted });
    {% endif %}
    {% if layout == "FA2Layout" %}
      const sensibleSettings = graphologyLibrary.layoutForceAtlas2.inferSettings(graph)
      const layout = new graphologyLibrary.FA2Layout(graph, {  settings: sensibleSettings, isNodeFixed: (_, attr) => attr.highlighted });
    {% endif %}
    layout.start();

    var renderer = new Sigma.Sigma( graph,
       document.querySelector("#graphContainer"), 
       {
          renderEdgeLabels: true,
       } 
    )

function setHoveredNode(node) {
  if (node) {
    state.hoveredNode = node;
    state.hoveredNeighbors = new Set(graph.neighbors(node));
  } else {
    state.hoveredNode = undefined;
    state.hoveredNeighbors = undefined;
  }

  // Refresh rendering:
  renderer.refresh();
}

    renderer.on("downNode", (e) => {
      state.isDragging = true;
      state.draggedNode = e.node;
      graph.setNodeAttribute(state.draggedNode, "highlighted", true);
      renderer.getCamera().disable();
    });

    renderer.getMouseCaptor().on("mousemove", (e) => {
      if (!state.isDragging || !state.draggedNode) return;

      // Get new position of node
      const pos = renderer.viewportToGraph(e);

      graph.setNodeAttribute(state.draggedNode, "x", pos.x);
      graph.setNodeAttribute(state.draggedNode, "y", pos.y);
    });

    // On mouse up, we reset the autoscale and the dragging mode
    renderer.getMouseCaptor().on("mouseup", (e) => {
      if (state.draggedNode) {
        graph.removeNodeAttribute(state.draggedNode, "highlighted");
      }
      state.isDragging = false;
      state.draggedNode = null;
      renderer.getCamera().enable();
    });

// Hover over a tag
    renderer.on("enterNode", ({node}) => {
      const node_type = graph.getNodeAttribute(node, "node_type")
      if (node_type == "TAG") {
        setHoveredNode(node)
        document.querySelectorAll("#tagSelector>label[for='" +node+"']")
          .forEach((checkbox) => {
            checkbox.classList.add('highlighted')
          })
      }
    });
    renderer.on("leaveNode", ({node}) => {
      const node_type = graph.getNodeAttribute(node, "node_type")
      if (node_type == "TAG") {
        setHoveredNode(null)
        document.querySelectorAll("#tagSelector>label[for='" +node+"']")
          .forEach((checkbox) => {
            checkbox.classList.remove('highlighted')
          })
      }
    });
    renderer.on("clickNode", ({node}) => {
      const node_type = graph.getNodeAttribute(node, "node_type")
      if (node_type == "TAG") {
        setHoveredNode(null)
        document.querySelectorAll("#tagSelector>input[value='" +node+"']")
          .forEach((checkbox) => {
            checkbox.click()
          })
      }
    });

renderer.setSetting("nodeReducer", (node, data) => {
  let res = Object.assign({}, data );
  if (state.hoveredNeighbors && !state.hoveredNeighbors.has(node) && state.hoveredNode !== node) {
    res.label = "";
    res.color = "#f6f6f6";
  }

  return res;
});

// Render edges accordingly to the internal state:
// 1. If a node is hovered, the edge is hidden if it is not connected to the
//    node
// 2. If there is a query, the edge is only visible if it connects two
//    suggestions
renderer.setSetting("edgeReducer", (edge, data) => {
  let res = Object.assign({}, data );

  if (state.hoveredNode && !graph.hasExtremity(edge, state.hoveredNode)) {
    res.hidden = true;
  }
  return res;
});

    renderer.refresh()
    })
  </script>
  <a href="map?PORT_ID={{PORT_ID}}">Map View</a>
 | <a href="portfolio?PORT_ID={{PORT_ID}}">List View</a> | <a href="portfolio_tags?PORT_ID={{PORT_ID}}">Tag View</a>| Network View

  <div class="container" >
  <h4>Shared Tags</h4>
  <div id="tagSelector">   
  </div>
    <div id="graphContainer" />
  </div>
{% endblock content %}

