{% extends 'base.html' %} 
{% load static %}

{% block title %}
Network of Parcels and Tags
{% endblock title %}
{% block content %}


<style type='text/css'>
  #graphContainer {
      width: 100%;
      height: 800px;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    #controls {
      position: absolute;
      right: 1em;
      top: 1em;
      text-align: right;
    }
    .input {
      position: relative;
      display: inline-block;
      vertical-align: middle;
    }
    .input:not(:hover) label {
      display: none;
    }
    .input label {
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      background: black;
      color: white;
      padding: 0.2em;
      border-radius: 2px;
      margin-top: 0.3em;
      font-size: 0.8em;
      white-space: nowrap;
    }
    .input button {
      width: 2.5em;
      height: 2.5em;
      display: inline-block;
      text-align: center;
      background: white;
      outline: none;
      border: 1px solid dimgrey;
      border-radius: 2px;
      cursor: pointer;
    }
        </style>
    <script src="{% static 'js/sigma.js' %}"></script>
  <script src="{% static 'js/graphology.umd.js' %}"></script>
  <script src="{% static 'js/graphology-library.js' %}"></script>

  <script>
  var graph = new graphology.Graph()
  
  // Load external network file:
  const url = "/api/portfolio_network.json?PORT_ID={{PORT_ID}}"
  let data = {
    tag_values: [],
    parcels: []
  }
  function handleTagSelectorChange(e) {
    const checkbox = e.target
    tag_value = checkbox.value
    if (!checkbox.checked) {
        graph.dropNode(tag_value)
    } else {
      graph.addNode(tag_value, {"label": tag_value,  size: 4, x:0, y:0})
 
      data.tags.forEach( (tag) => {
        if (tag_value === tag.tag_value) {
          graph.addEdge(tag.tag_value, tag.GLOBAL_ID)
        }
      })
    }
  }

  function buildGraph() {
    data.tag_values.forEach((tag_value) => {
        graph.addNode(tag_value, {"label": tag_value,  size: 4})
      })
      data.parcels.forEach((parcel) => {
        graph.addNode(parcel.GLOBAL_ID, {"label": parcel.ADDRESS,   "size":8, color: "#0000FF" })
      })
      data.tags.forEach( (tag) => {
          graph.addEdge(tag.tag_value, tag.GLOBAL_ID)
      }) 
    
    // As an initial location, scatter the nodes in a circle
    graph.nodes().forEach((node, i) => {
      const angle = (i * 2 * Math.PI) / graph.order + 20*Math.random();
      graph.setNodeAttribute(node, "x", 100 * Math.cos(angle));
      graph.setNodeAttribute(node, "y", 100 * Math.sin(angle));
    });
  }

  fetch(url)
    .then((res) => res.json())
    .then((d) => {
      data = d
      const tagSelector = document.getElementById("tagSelector");
      data.tag_values.forEach( (tag_value) => {
        const checkbox = document.createElement('input')
        checkbox.type = 'checkbox';
        checkbox.name = 'tag_value_checkbox';
        checkbox.value = tag_value;
        checkbox.checked = true;
        checkbox.onchange = handleTagSelectorChange
        tagSelector.appendChild(checkbox)
        var label = document.createElement('label')
        label.htmlFor = 'car';
        label.appendChild(document.createTextNode(tag_value));
        tagSelector.appendChild(label)
        tagSelector.appendChild(document.createElement('br'))
      })
      buildGraph()
    // Create the spring layout and start it
    const layout = new graphologyLibrary.ForceLayout(graph, { isNodeFixed: (_, attr) => attr.highlighted });
    layout.start();

    var renderer = new Sigma.Sigma( graph,
       document.querySelector("#graphContainer") 
    )
    let draggedNode = null;
    let isDragging = false;
    renderer.on("downNode", (e) => {
      isDragging = true;
      draggedNode = e.node;
      graph.setNodeAttribute(draggedNode, "highlighted", true);
      renderer.getCamera().disable();
    });

    renderer.getMouseCaptor().on("mousemove", (e) => {
      if (!isDragging || !draggedNode) return;

      // Get new position of node
      const pos = renderer.viewportToGraph(e);

      graph.setNodeAttribute(draggedNode, "x", pos.x);
      graph.setNodeAttribute(draggedNode, "y", pos.y);
    });

    // On mouse up, we reset the autoscale and the dragging mode
    renderer.getMouseCaptor().on("mouseup", (e) => {
      if (draggedNode) {
        graph.removeNodeAttribute(draggedNode, "highlighted");
      }
      isDragging = false;
      draggedNode = null;
      renderer.getCamera().enable();
    });

    renderer.refresh()
    })

  </script>
  <a href="map?PORT_ID={{PORT_ID}}">Map View</a>
 | <a href="portfolio?PORT_ID={{PORT_ID}}">List View</a> | <a href="portfolio_tags?PORT_ID={{PORT_ID}}">Tag View</a>| Network View

  <div class="container" >
  <h4>Shared Tags</h4>
  <div id="tagSelector">   
  </div>
    <div id="graphContainer" />
  </div>
{% endblock content %}

