<!-- prettier-ignore-start -->
{% extends 'base.html' %}
{% block title %}
Portfolio 
{% endblock title %}

{% block content %}
<!-- prettier-ignore-end -->
<script>
function highlight(tagType, tagValue) {
    $('#tags > tbody > tr').each((i, el) => {
        const row = $(el)
        const tagTypeEl = row.children('td')[1] 
        const tagValueEl = row.children('td')[2] 
        if( tagTypeEl.innerText == tagType && tagValueEl.innerText == tagValue) {
            $('td', row).addClass('highlighted')  
        }
    })
}
function unhighlight(t) {
    $( "#tags > tbody > tr > td" ).removeClass( "highlighted" );
}
</script>
<style>
.highlighted {
    background-color: yellow
}
.hidden {
    display: none;
}
</style>
<h3>Portfolio {{PORT_ID}}</h3>
<a href="map?PORT_ID={{PORT_ID}}">Map View</a>
 | <span>List View</span> | <a href="portfolio_tags?PORT_ID={{PORT_ID}}">Tag View</a>| <a href="/api/portfolio_network?PORT_ID={{PORT_ID}}">API View</a>
<p>
   <a href="portfolio_search?name={{searchTerms}}">Related portfolios</a>
</p>
<table class="table">
    <thead>
        <th>Address</td>
        <th>Names</th>
        <th>Violations</th>
    </thead>
    <tbody>
{% for parcel in sameOwner %}
    <tr>
        <td><a href="property?key={{parcel.GLOBAL_ID}}" >{{parcel.ADDRESS }}</a></td>
        <td>{{parcel.NAMES }}</td>
        <td>{{parcel.violationCount }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<h3> Tags </h3>
    <table class="table-sm" id='tags'>
        <thead>
            <th>Address</th>
            <th>Source</th>
            <th>Source Value</th>
        </thead>
        <tbody>
    {% for tag in tags %}
            <tr>
                <td>{{tag.ADDRESS }}</td>
                <td class='tagType hidden' >{{tag.tag_type }}</td>
                <td class='tagValue hidden' onmouseenter="highlight('{{tag.tag_type}}','{{tag.tag_value}}')" onmouseleave="unhighlight()">{{tag.tag_value }}</td>
                <td class='sourceType'>{{tag.source_type }}</td>
                <td class='sourceValue' onmouseenter="highlight('{{tag.tag_type}}','{{tag.tag_value}}')" onmouseleave="unhighlight()">{{tag.source_value }}</td>

            </tr>
    {% endfor %}
        </tbody>
    </table>
{% endblock content %}
