{% extends 'base.html' %} 
{% block title %}Help {% endblock title %} 

{% block content %}

<h1>How does this tool work?</h1>

<h2>Search by ADDRESS</h2>

<h2>Search by OWNER</h2>

<h2>MAP VIEW</h2>

<table class="table">
  <caption style="caption-side:top">GLOSSARY OF TERMS</caption>
  <tbody>
  <tr><td>Portfolio</td><td>A set of properties that the system believes are owned by a  landlord</td></tr>
  <tr><td>Rental License</td><td>Some cities ask or require that landlords obtain rental licenses. </td></tr>
  <tr><td>Property ID (PID)</td><td> The ID the uniquely identified a property.  
  There are some variants on this because several condominiums may be situated on a single parcel of land.</td></tr>
  <tr><td>Tier</td><td>Some cities designate use a tiered system to indicated 
  the extent to which a landlord has been compliant with city ordinances</td></tr>
  </tbody>
</table>

{% endblock content %}
