{% extends 'base.html' %} 
{% block title %}About {% endblock title %} 

{% block content %}

<h1>Links to Additional Resources</h1>
<ul>
<li>Within the Twin Cities <a href="https://homelinemn.org/"  target="_blank">HomeLine</a> 
helps with legal services for tenants.
<li> <a href="https://www.inquilinxsunidxs.org/en/home/" target="_blank">United Renters For Justice</a> does great
work organizing for tenant rights.
<li>  The Federal Reserve of Minneapolis did a 
<a href="https://www.minneapolisfed.org/article/2021/new-property-data-tool-reveals-patterns-of-investor-ownership-in-the-twin-cities-area" target="_blank">nice report on investor ownership</a>. 
</li>
<li>The Federal Reserve of Atlanta did a <a href="https://www.atlantafed.org/-/media/documents/community-development/publications/discussion-papers/2016/04-corporate-landlords-institutional-investors-and-displacement-2016-12-21.pdf" target="_blank>
similary study</a> a few years back.
</li>
<li>Other cities have projects similar to ours.  The most well-established is 
<a href="https://whoownswhat.justfix.nyc/en/"  target="_blank">Who Owns What</a> for New York city.
</ul>



{% endblock content %}
