{% extends 'base.html' %} 
{% block title %}About {% endblock title %} 

{% block content %}

<h1>Links to Additional Resources</h1>
<ul>
<li>Within the Twin Cities <a href="https://homelinemn.org/"  target="_blank">HomeLine</a> 
helps with legal services for tenants.
<li> <a href="https://www.inquilinxsunidxs.org/en/home/" target="_blank">United Renters For Justice</a> does great
work organizing for tenant rights.

<li>Other cities have projects similar to ours.  The most well-established is 
<a href="https://whoownswhat.justfix.nyc/en/"  target="_blank">Who Owns What</a> for New York city.
</ul>



{% endblock content %}
