{% extends 'base.html' %}
{% block title %}Twin Cities Landlord App{% endblock title %}

{% block content %} 
<p>
Are you considering renting, but  want to check out a landlord?  
Having trouble with your landlord and want to find other properties and tenants
with the same landlord?
</p>

<p>It can be difficult to identify all the properties owned by a landlord because
ownership may be masked by corporation and varying spellings.
</p>
<p>
This site does its best to pull together all properties that are actually
owned by the same entity, which we call a portfolio.
</p>
{% endblock content %} 