<h2> Rental Properties</h2>

<table>
    <thead>
        <td>APN</td>
        <td>License</td>
        <td>Address</td>
        <td>Owner</td>
    </thead>
    <tbody>
{% for prop in properties %}
<tr>
    <td><a href="property?apn={{prop.apn}}" >{{prop.apn }}</a></td>
    <td>{{prop.licenseNum }}</td>
    <td>{{prop.address }}</td>
    <td>{{prop.ownerName }}</td>
</tr>
{% endfor %}
</tbody>
</table>

<form action="./search" method="post">
    {% csrf_token %}
    Address: <input name="address" value = "{{address}}"/>
    <input type="submit" value="Search">
</form>